@charset "UTF-8";
/* CSS Document */

/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* STYLE */

em {
	font-style:italic;
}

strong{
	font-weight:600;
	color:#333;
}

body {
	font-family: 'Open Sans', sans-serif;
	color:#666;
	font-size:14px;
}

p {
	margin-bottom:20px;
}

a {
	color:#333;
	font-weight:bold;
	text-decoration:none;
}

#container {
	margin:75px;
	padding:75px 100px;
	border:solid #ccc 2px;
}

#content, footer {
	margin:40px;
	line-height:1.8;
}

#content a:hover, footer a:hover {
	text-decoration:underline;
}

#content {
	padding: 20px 20px;
	position:relative;
}

header {
	text-align:center;
	text-transform:uppercase;
}

h1, h3 {
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom:10px;
	color:#333;
}

h1 {
	font-size:220%;
}

h3 {
	font-size:130%;
}

nav {
}

nav ul {
	display:inline-block;
	/*border:solid #ccc;
	border-width:1px 0 0 0;*/
    padding: 0;
    overflow: hidden;
}

nav li {
    display:inline;
}

nav li a {
	font-size:14px;
	font-weight:400;
    display:inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	color: #999;
}

nav a:hover:not(.active), nav .active {
	padding: 14px 16px 13px;
	border-bottom:1px solid #ccc;
	color:#666;
}

#banner {
	margin-top:60px;
	margin-right:auto;
	margin-left:auto;
	height:300px;
	background:url(images/banner/28358931580_c0fc68d6ba_o.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#content > ul {
	margin-bottom:40px;
}

#content ul li {
	list-style-type:disc;
	margin-left: 20px;
	padding-left: 1em;
	text-indent: -1em;
}

#content ul li ul li{
	list-style-type:circle;
	font-size:95%;
	color:#888;
}

.project-wrap {
	margin:10px;
	position:relative;
	width:calc(33% - 20px);
	padding-bottom:30%;
	display:inline-block;
	overflow:hidden;
}

.project {
	position:absolute;
	width:100%;
	height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
	opacity:1;
	transition: transform .5s, opacity .5s ease-in-out;
}

.project:hover {
	transform:scale(1.02);
	opacity:.85;
	-webkit-backface-visibility: hidden;
}

.project-label {
	position:absolute;
	width:100%;
	box-sizing:border-box;
	top:60%;
	text-align:center;
	padding:5px;
	background-color:rgba(255,255,255,1);
}

#blog {
	overflow:hidden;
}

.post hr {
	margin-top:40px;
	margin-bottom:40px;
	width: 80%;
	height:1px;
	border:none;
	color:#ccc;
	background-color:#ccc;
}

.twitter-wrapper {
	width:200px;
	float:right;
	margin-left:20px;
	border:solid #ccc;
	border-width:1px 0 1px 0;
	padding-top:2px;
}

footer {
	clear:both;
	font-size:12px;
	border-top:solid #ccc 1px;
	padding-top:20px;
}

footer #icons {
	width:30%;
	float:right;
	text-align:right;
}

footer #icons a {
	float:right;
	margin: 0 3px;
	color:#bbb;
}

.fa-github-square:hover {
	color:#000;
}

.fa-twitter-square:hover {
	color:#55acee;
}

.fa-linkedin-square:hover {
	color:#0077b5;
}

.fa-flickr:hover {
	color:#ff0084;
}

.ai-google-scholar-square:hover {
	color:#4285f4;
}

@media only screen and (max-device-width: 480px) {
/* define mobile specific styles come here */
}

@media (max-width: 767px) {
/* define mobile specific styles come here */
	.project-wrap {
		width:calc(50% - 20px);
	}
	#container {
		padding:50px;
		margin:0;
		border:0;
	}
}

@media (max-width: 480px) {
/* define mobile specific styles come here */
	.project-wrap {
		width:calc(100% - 20px);
	}
	#container {
		padding:10px;
	}
	.nav {
		display:none;
	}
}